html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#req_status {
  flex-flow: column nowrap;
  height: 100vh;
  width: 100vw;
}

#map {
  height: 55vh;
  width: 100vw;
  border-bottom: 1px black solid;
}

#data_component {
  align-items: center;
  flex-flow: column nowrap;
  gap: 1rem;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  #req_status {
    flex-flow: row nowrap;
  }
  #map {
    height: 100vh;
    width: 50vw;
    border-right: 1px black solid;
    border-bottom: none;
  }
  #data_component {
    width: 50vw;
  }
}
